* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** COLORS *****/
:root {
  --light: #fffefc;
  --lightGrey: #efefef;
  --dark: #16213e;
  --black: #000000;
  --spinner: #6d67e4;
  --primary: rgba(20 66 114 / 80%);
  --secondary: rgba(176 177 188/ 60%);
}

body {
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--light);
  display: flex;
  justify-content: center;
}

main {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 550px;
}

video {
  position: fixed;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2.5rem;
}

/**** Change color on snow flake image ****/
img[alt*='snow'] {
  filter: brightness(0) invert(1);
}

/***** Loader *****/

.loader-container {
  position: absolute;
  z-index: 98;
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid var(--light);
  border-radius: 50%;
  border-top: 16px solid var(--spinner);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***** Search city *****/
.autocomplete {
  position: relative;
  margin: 1rem 0 3rem 0;
}

input {
  width: 250px;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

/***** Filter city *****/
.filteredCities {
  position: absolute;
  top: 36px;
  max-height: 400px;
  width: 250px;
  overflow: auto;
  background-color: var(--light);
  z-index: 1;
}

.filteredCities > div {
  padding: 0.4rem;
  border-top: 1px solid var(--lightGrey);
  color: var(--black);
}
/***** Current weather *****/
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.current-weather .current-weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-content p,
h1,
h4 {
  color: var(--light);
  text-shadow: rgb(0, 0, 0) 1px 1px 3px;
}

.current-weather #temperature {
  font-size: 3.8rem;
}

.current-weather #weatherDescription {
  font-weight: bold;
}

/***** Current weather intervals *****/
.current-hours {
  overflow-x: auto;
  background-color: var(--primary);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.current-hours .weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
}

.current-hours .weather-card img {
  width: 2.5rem;
}

/***** Forcast weather overview *****/
small {
  font-weight: bold;
}

.forecast {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  display: grid;
  border-radius: 0.5rem;
  background-color: var(--primary);
}

.forecast .forecast-overview-card {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  cursor: pointer;
}

/***** Forcast weather details *****/
table {
  display: block;
  border-bottom: 0.5px solid var(--lightGrey);
  font-size: 0.9rem;
}

.hide {
  display: none;
}

table tr:first-child {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}

table tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

table th {
  font-weight: normal;
}

table tr img {
  width: 4rem;
}
